<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="./test/bootstrap.php" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./test/Unit</directory>
    </testsuite>

    <testsuite name="Feature">
      <directory suffix="Test.php">./test/Feature</directory>
    </testsuite>

    <testsuite name="E2E">
      <directory suffix="Test.php">./test/E2E</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage"/>
    </report>
  </coverage>
  <php>
    <env name="APP_ENV" value="testing" force="true"/>
    <env name="DB_DRIVER" value="sqlite"/>
    <env name="DB_DATABASE" value=":memory:"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
</phpunit>
